.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  margin: 5px;
  padding: 5px;
}
.image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #ccc;
}
.title, .subtitle, .details {
  margin: 5px;
}
.subtitle {
  color: #888b84;
}