.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  flex: 1;
}
.image {
  width: 250px;
}
.button {
  border: 1px solid #6251ff;
  border-radius: 3px;
  padding: 8px;
  color: #ffffff;
  background: #6251ff;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  cursor: pointer;
  outline: none;
}

.button:active {
  box-shadow: none;
}