.container {
  position: relative;
  width: 400px;
  margin: 10px auto;
}
.input {
  width: 90%;
  border: none;
  padding: 20px 45px;
  border-radius: 30px;
  font-size: 20px;
  outline: none;
  box-shadow: 0 0px 5px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);
  transition: 0.3s;
}

.icon {
  position: relative;
  top: 4px;
  left: 40px;
}
.input:hover, .input:focus {
	box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);
}

@media only screen and (max-width: 500px) {
  .container {
    width: 100%;
  }
  .input {
    padding: 15px 50px;
  }
}