.container {
  position: absolute;
  width: 400px;
  margin: 5px auto;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
.container:hover {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
@media only screen and (max-width: 500px) {
  .container {
    width: 90%;
  }
}