.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 30px;
}

.label {
  margin-top: 10px;
}