.container {
  background: white;
  border-radius: 10px;
  box-shadow: 0 0px 5px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);
  transition: 0.3s;
}

.container:hover {
  box-shadow: 0 10px 5px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);
}