.container {
  display: flex;
  width: 60%;
  border-radius: 10px;
  align-self: center;
  margin: 10px auto;
  transition: 0.3s;
  flex-direction: column;
}

@media only screen and (max-width: 500px) {
  .container {
    width: 100%;
    padding: 10px;
  }
}