.header {
  display: flex;
  justify-content: space-between;
}
.title {
  margin: 10px 0;
}
.picker {
  width: 200px;
  padding: 10px;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  background: white;
  box-shadow: 0 0px 5px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);
  margin: 5px;
  cursor: pointer;
  outline: none;
}