.container {
  display: flex;
  width: 60%;
  align-self: center;
  margin: 10px auto;
}
.image {
  max-width: 35%;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}
.details {
  margin: 0 10px;
  max-height: 400px;
  overflow: scroll;
}
.name {
  margin: 10px 5px 0px 5px;
}
.rating {
  font-size: 30px;
  color: #6251ff;
  margin: 0 5px;
  font-weight: 300;
}
.description {
  font-weight: 400;
  margin: 35px 5px;
  color: #4a4a4a;
  line-height: 1.6;
}

/* phones */
@media only screen and (max-width: 500px) {
  .container {
    flex-direction: column;
    background: none;
    margin: 0;
    box-shadow: none;
    background: none;
    width: 100%;
  }
  .container:hover {
    box-shadow: none;
  }
  .image {
    height: 300px;
    max-width: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin: 10px auto;
    box-shadow: 0 10px 5px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);
  }
  .details {
    max-height: none;
  }
}