.header {
  display: flex;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #e7e7e7;
}
.title {
  display: flex;
  align-items: center;
  margin: 5px;
  color: #545454;
  text-transform: uppercase;
  text-decoration: none;
}
.icon {
  padding: 5px;
}

/* phones */
@media only screen and (max-width: 500px) {
  .header {
    display: none;
  }
}