.container {
  display: flex;
  width: 60%;
  flex-direction: column;
  align-self: center;
  margin: 10px auto;
}

/* phones */
@media only screen and (max-width: 500px) {
  .container {
    margin: 0;
    box-shadow: none;
    background: none;
    width: 100%;
  }
  .container:hover {
    box-shadow: none;
  }
}
