.container {
  margin: 10px;
  display: flex;
}
.details {
  margin: 0 10px;
  overflow: scroll;
}
.image {
  max-width: 45%;
  object-fit: cover;
}
.name {
  margin: 10px 5px 0px 5px;
}
.description {
  font-weight: 400;
  margin: 35px 5px;
  color: #4a4a4a;
  line-height: 1.6;
}

@media only screen and (max-width: 500px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .image {
    max-width: 95%;
    height: auto;
    align-self: center;
  }
}